html, body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}

h1{
    font-family: 'Rock Salt', cursive;
    font-size: 60px;
    
}
h2{
    font-family: 'Rock Salt', cursive;
    font-size: 50px;
    
}
#textoNav{
    color:aliceblue;
}
.imgRadius{
    border-radius: 170px;
}
.fondo{
    background-color: rgba(255, 255, 255, 0.57);
}
/*
p {
    transition: all 0.5s ease;
}
*/