html, body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
#textoNav{
    color:aliceblue;
}

/*
p {
    transition: all 0.5s ease;
}
*/